html {
	height: 100%;
}

body {
	background-color: #000080;
}

.track {
	text-align: center;
	font-family: "Impact";
	color: #FFD700;
	text-shadow: 2px 2px red;
	display: block;
	font-weight: 400;
	font-size: 100px;
	position: fixed;
	top: 200px;
	right: 450px;
}

.start {
	background: red;
	color: #000080;
	font-weight: 400;
	font-size: 50px;
	font-family: "Impact";
	text-align: center;
	border: #000080;
	display: block;
	border-style: outset;
	text-shadow: 2px 2px #FFD700;
	border-color: #FFD700;
	cursor: pointer;
	position: fixed;
	top: 350px;
	right: 450px;
}

.break {
	background: red;
	color: #000080;
	font-weight: 500;
	font-size: 50px;
	font-family: "Impact";
	text-align: center;
	border: #000080;
	display: block;
	border-style: outset;
	text-shadow: 2px 2px #FFD700;
	border-color: #FFD700;
	cursor: pointer;
	position: fixed;
	top: 350px;
	right: 450px;
}

.navbar {
	text-align: center;
	background-color: red;
	line-height: 60px;
	color: #000080;
	font-weight: 400;
	font-size: 50px;
	font-family: "Impact";
	border-style: outset;
	text-shadow: 2px 2px #FFD700;
	border-color: #FFD700;
	letter-spacing: 6px;
	position: relative;
}

#taskButton {
	cursor: pointer;
	background: red;
	color: #000080;
	font-family: "Impact";
	text-align: center;
	border-style: outset;
	text-shadow: 1px 1px #FFD700;
	border-color: #FFD700;
	font-weight: 400;
}

#taskHeader {
	font-family: "Impact";
	color: #FFD700;
	text-shadow: 1px 1px red;
}

#task-entry-list-item {
	color: #FFD700;
	text-shadow: 0.5px 0.5px red;
	font-family: "Impact";
	list-style-type: none;
}