html {
	height: 100%;
}

body {
	background-color: #072754;
}

.track {
	text-align: center;
	font-family: "Impact";
	color: #CFAB7A;
	text-shadow: 2px 2px #C6011F;
	display: block;
	font-weight: 400;
	font-size: 100px;
	position: fixed;
	top: 200px;
	right: 450px;
}

.start {
	background: #C6011F;
	color: #072754;
	font-weight: 400;
	font-size: 50px;
	font-family: "Impact";
	text-align: center;
	border: #072754;
	display: block;
	border-style: outset;
	text-shadow: 2px 2px #CFAB7A;
	border-color: #CFAB7A;
	cursor: pointer;
	position: fixed;
	top: 350px;
	right: 450px;
}

.break {
	background: #C6011F;
	color: #072754;
	font-weight: 500;
	font-size: 50px;
	font-family: "Impact";
	text-align: center;
	border: #072754;
	display: block;
	border-style: outset;
	text-shadow: 2px 2px #CFAB7A;
	border-color: #CFAB7A;
	cursor: pointer;
	position: fixed;
	top: 350px;
	right: 450px;
}

.navbar {
	text-align: center;
	background-color: #C6011F;
	line-height: 60px;
	color: #072754;
	font-weight: 400;
	font-size: 50px;
	font-family: "Impact";
	border-style: outset;
	text-shadow: 2px 2px #CFAB7A;
	border-color: #CFAB7A;
	letter-spacing: 6px;
	position: relative;
}

#taskButton {
	cursor: pointer;
	background: #C6011F;
	color: #072754;
	font-family: "Impact";
	text-align: center;
	border-style: outset;
	text-shadow: 1px 1px #CFAB7A;
	border-color: #CFAB7A;
	font-weight: 400;
}

#taskHeader {
	font-family: "Impact";
	color: #CFAB7A;
	text-shadow: 1px 1px #C6011F;
}

#task-entry-list-item {
	color: #CFAB7A;
	text-shadow: 0.5px 0.5px #C6011F;
	font-family: "Impact";
	list-style-type: none;
}